// menu style
.category_icon
  max-height: 12px;
  margin-right: 4px;
  margin-left: 11px;
img
  display: block;
.top-navigation
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  box-shadow: 0 2px 2px 0 #dddddd;
  background #fff
.col-auto
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
.navigation-main
  width: 100%


  
.navigation_list
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  li
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    height: 55px;
    a
      margin: 0;
      padding: 0 11px;
      text-decoration: none;
      height: 55px;
      line-height: 57px;
      color: #000000;
      font-size: 14px;
      text-transform: uppercase;
      &:hover
        color: #0687ca
    .category
      font-weight: 600;
  &-all
    width: 100%;


.arrow_right_parent
  background-image: url(./image/right-arrow-blue.svg);
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: auto 10px;
.navigation-container_left
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  padding: 10px 0;
  height: 100%;
  max-height: 690px;
  overflow: hidden;
  z-index: 2;
  position: relative;
  left: 0;
  top: 0;
  ul
    margin: 0;
    padding: 0;
    li
      list-style: none;
      line-height: 1;
      padding: 10px 32px;
      span
        color: #151b23;
        font-size: 14px;
        cursor: default;


.navigation-container
  display none
  &_mid
    padding: 0;
    position: relative;
    left: 0;
    toP: 0;
    z-index: 2;
  &_center
    background-color: #fff;
    height: 100%;
    max-height: 690px;
    overflow: hidden;
    z-index: 2;
    position: relative;
    left: 0;
    top: 0;
  &_left
    ul
      .active
        background: #0687ca
        background-image: url(./image/right-arrow-white.svg);
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: auto 10px;
        span
          color #fff
.navigation-center
  &_tab
    padding: 15px 5px;
    float: left;
    width: 100%;
  &_title
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    float: left;
    display: block;
    line-height: 1;
    margin: 0 0 30px;
    padding: 0 5px;
    color: #000000;
  &_container
    width: 100%;
    float: left;
    max-height: 80%;
  &_section
    width: 100%;
    padding: 0 10px;
    float: left;
    display: inline-block;
    margin-bottom: 5px;
.navigation-section
  &_title
    font-size: 15px;
    color: #000000;
    line-height: 1;
    margin: 0 0 30px;
    display: block;
    width: 100%;
    float: left;
    font-weight: 500;
    text-decoration: none;
  &_list
    margin: 0;
    display: block;
    width: 100%;
    float: left;
    padding: 0 0 0 15px;
    li
      padding: 0 0 15px;
      line-height: 1;
      margin: 0;
      display: block;
      width: 100%;
      float: left;
      a
        color: #5b5f65;
        font-size: 15px;
        line-height: 1;
        text-decoration: none;
        float: left;
        &:hover
          color: #0687ca
.navigation-tab
  &_select
    span
      a
        color: #151b23;
        text-decoration: none;
.bck_one_par_sect
  width: 50%;
  &:nth-child(1n)
    float: left
  &:nth-child(2n)
    float right
  a
    &:hover
      color: #0687ca
// end menu style